mixin content()
    
    +b.DIV.section
            +b.DIV.form-content
                +e.H1.head Оформление заказа    
                +e.DIV.navigation   
                    +b.DIV.item 
                        +e.P.title Я новый покупатель
                    +b.DIV.item 
                        +e.P.title Я зарегистрированный покупатель
                    +e.DIV.form-data
                        +main-form()
                +b.DIV.right-side
                    +right-side()
                
